<!DOCTYPE html>
<html ng-app="modeler">
<head>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/jointjs/css/layout.css">
  <script src="node_modules/angular/angular.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a id="json"><span class="glyphicon glyphicon-download"></span> JSON</a></li>
      <li><a id='svg'><span class="glyphicon glyphicon-download"></span> SVG</a></li>
    </ul>
  </div>
</nav>
  <div class="row justify-content-center">
    <div class="col-lg-10" id="myHolder"></div>
    <div class="col-lg-2" id="panel"></div>
  </div>
  <script src="bundle.js"></script>
  <section ng-controller="PropController as prop">
    <ul class="nav nav-tabs nav-stacked col-sm-3">
      <li ng-class="{active: prop.isSelected(1)}">
        <a href ng-click="prop.selectTab(1)">Ports</a>
      </li>
      <li ng-class="{active: prop.isSelected(2)}">
        <a href ng-click="prop.selectTab(2)">Attributes</a>
      </li>
      <li ng-class="{active: prop.isSelected(3)}">
        <a href ng-click="prop.selectTab(3)">Properties</a>
      </li>
    </ul>
    <div class="col-sm-9"ng-show="prop.isSelected(1)" id="tabPorts">
      <table class="table table-hover" id="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Function</th>
            <th>Position</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div id='addPort'></div>
    </div>
    <div class="col-sm-9"ng-show="prop.isSelected(2)" id="tabAttributes">
      <table class="table table-hover" id="table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div id='addButton'></div>
    </div>
    <div class="col-sm-9"ng-show="prop.isSelected(3)" id="tabProperties">
      <div class="form-inline" id="width">
      </div>
      <div class="form-inline" id="height">
      </div>
    </div>
  </section>
</body>
</html>
